#an{
margin-left: 80px;
padding-top: 100px;
}
#an a{
    font-size: 20px;
}
#an input{
    width: 200px;
    height: 30px;
}
#zh{
    width: 400px;
    height: 300px;
    margin-top: 150px;
    background:linear-gradient(to right,rgb(255, 147, 69,0.8),rgb(255, 186, 198,0.8)) ;
    border-radius: 25px;
    margin-left: 450px;
}
button{
    width: 70px;
    height: 20px;
    border-radius:3px;
    border: 0px;
    background: linear-gradient(to top,rgb(255, 154, 38,0.8),rgb(255, 93, 24,0.8));
}
#na{
    margin-top: 25px;
    margin-left: 70px;
}
input{
    margin-top: 10px;
}
a{
    color: aliceblue;
    text-decoration: none;
}
#dhbj{
    margin-right: 10px;
    width:1280px;
    height: 60px;
    background: linear-gradient(to right,rgb(236, 255, 110,0.8),rgb(255, 145, 145,0.8));
}
*{
    margin: 0px;
    padding: 0px;
}
#dh{
    margin-right: 70px;
}
#dh ul{
    margin-top: 15px;
    float:right;
}
#dh li{
    margin-right: 20px;
    float: left;
    margin-left: 20px;
}